openapi: 3.1.0
info:
  title: Cloverly Account API
  description: >
    Retrieve the authenticated account record — currency, default offset
    preferences, and the API key context (public vs private, sandbox vs
    production).
  version: '2019-03-beta'
  contact:
    name: Cloverly Support
    url: https://cloverly.com/contact
  license:
    name: Cloverly Terms of Service
    url: https://cloverly.com/terms-of-service
servers:
  - url: https://api.cloverly.com
    description: Production server
security:
  - BearerAuth: []
tags:
  - name: Account
    description: Authenticated account context
paths:
  /2019-03-beta/account:
    get:
      summary: Cloverly Retrieve Account
      description: Retrieve the account record associated with the supplied API key.
      operationId: retrieveAccount
      tags:
        - Account
      responses:
        '200':
          description: The account record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
  schemas:
    Account:
      type: object
      properties:
        slug:
          type: string
        name:
          type: string
        currency:
          type: string
          example: USD
        default_offset_slug:
          type: string
        environment:
          type: string
          enum: [sandbox, production]
        key_type:
          type: string
          enum: [public, private]
        created_at:
          type: string
          format: date-time
